*.elc
*~
.DS_Store
.cache
.cask
.emacs.desktop
.smex-items
/.last-package-update-day
/.mc-lists.el
/.org-id-locations
/bookmarks
/elisp/config-sql.el
/ido.last
/network-security.data
/prelude-modules.el
/projectile.cache
/smex-items
/var/pcache
auto-save-list
custom.el
ede-projects.el
el-get
elpa
eshell
!eshell/alias
flycheck_init*.el
places
projectile-bookmarks.eld
recentf
savefile/
savehist
saveplace
semanticdb
session*
srecode-map.el
tramp
transient/
url
/elisp/init-cohesic.el
/elisp/init-leftovers.el
/.lsp-session-v1
/eln-cache/
/emojis/
request/
projects
games/
games/
projects
/forge-database.sqlite
/.dap-breakpoints
/site-lisp/mct/
/snippets/web-mode/script
/org-roam.db
/snippets-neo
.extension/